/* Main container for both left and right sections */
.main-container {
  display: flex; /* Use flexbox to align the sections side by side */
  height: 400px; /* Full height of the screen */
}

/* Left blue section */
.left-section {
  background: linear-gradient(to right, #426BBC, #74A9F5);  /* Blue background */
  width: 50%; /* Take up half of the screen width */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;  /* Centers the header text vertically */
  padding: 50px;
  padding-top: 100px;
}

/* Right white section */
.right-section {
  background-color: white;  /* White background */
  width: 50%; /* Take up half of the screen width */
  display: flex;
  justify-content: center;
  align-items: center;  /* Centers the header-right text vertically */
  padding: 50px;
  padding-top: 100px;
}

/* Header text inside blue section */
.header {
  color: white;  /* Make the text white to contrast with blue */
  text-align: center; /* Center align the text inside */
}

/* Right section text (header-right) */
.header-right {
  text-align: center; /* Center align the right section's text */
}

.header-right a {
  margin-top: 10px; /* Space for the link */
}