.navbar img {
    width: 100px;
    height: 80px;
    margin-left: 10px;
    object-fit: cover;
  }
  
  .navbar {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background-color: white !important; /* Force white background */
    border-bottom: 1px solid #000;
  }

  .custom-nav .nav-link {
    margin-left: 20px;
  }