.navbar img {
    width: 100px;
    height: 80px;
    margin-left: 10px;
    object-fit: cover;  /* Ensures the image maintains its aspect ratio */
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #333; 
  }