* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Sidebar styling */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: #ffffff;
    color: white;
    padding-top: 50px; /* Push the menu down a bit */
    border-radius: 0px;
    border-right: 1px solid black;
    z-index: 1;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding-left: 0px;  /* Remove default padding */
    margin: 0;   /* Remove default margin */
    text-align: center; /* Center the content */
  }
  
  .sidebar-menu li {
    padding: 0px;
    text-align: left;
  }
  
  .sidebar-menu li a {
    display: block; /* Make the link a block element */
    width: 100%; /* Ensure it spans the full width of the li */
    height: 50px; /* Set a specific height to make the clickable area bigger */
    color: rgb(34, 33, 33);
    text-decoration: none;
    font-size: 18px;
    padding-top: 14px; /* Center text vertically */
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Transition for fade and rounded corners */
    border-radius: 20px; /* round edges */
  }
  
  .sidebar-menu li a:hover {
    background-color: #4a68bc;
    border-radius: 20px; /* round edges */
  }

  .sidebar-logo img {
    width: 100px;   /* Set the width to match the navbar logo size */
    height: 80px;   /* Set the height to match the navbar logo size */
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
    margin-left: 25px; /* Optional: add a margin to the left if needed */
    margin-top: -30px;
  } 